.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'cabecalho cabecalho'
    'quem-somos fotos-ambiente'
    'titulo_portifolio titulo_portifolio'
    'portifolio portifolio'
    'rodape rodape';
}

body {
    margin: 0;
    background: url(img/foto-fundo.jpg);
}

header {
    border: 4px solid rgba(0, 255, 255, 0.396);
    border-bottom: 0px;
    grid-area: cabecalho;
    display: flex;
    align-items: center;
    background:  url(img/foto-cabecalho2.jpg);
    background-position:center ;

}

#img-logo {
    width: 150px;
    height: 120px;
   
}

.nav_header ul{
    padding-left: 45rem;
    

}


section#quem-somos {
    border: 4px solid rgba(0, 255, 255, 0.396);
    grid-area: quem-somos;
    
    
}


section#fotos-ambiente {
    grid-area: fotos-ambiente;
    border: 4px solid rgba(0, 255, 255, 0.396);    

}

section#contato {
    grid-area: contato;
    margin: 20px 610px 20px 50px;
    background-color: rgba(0, 255, 255, 0.396);
    
}

footer {
    border: 4px solid rgba(0, 255, 255, 0.396);
    grid-area: rodape;
    display: flex;
    align-items: center;
}

section#orcamento {
    grid-area: orcamento;
    padding: 1rem;
    background-color: rgba(0, 255, 255, 0.396);
    margin: 20px;
    
}



.form-control {
    margin: 0.4rem;
}



nav ul {
    display: flex;
    list-style: none;

}

nav ul a {
    padding: 0.4rem;
    margin: 0.2rem;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(24, 129, 221);
    border-radius: 15px;
    background-color: rgba(0, 255, 255, 0.396);
}

nav ul a:hover {
    background-color: rgb(26, 122, 173);
}

.portifolio {
    grid-area: portifolio;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 380px 380px 380px 380px;
    row-gap: 20px;
    column-gap: 120px;
    padding: 0 20px;
}

#button-portifolio {
    margin-left: 10rem;
    padding: 0.8rem 4rem;
    border-radius: 2rem;
    background-color:  rgba(0, 255, 255, 0.396);

}

#button-portifolio:hover {
    background-color: rgb(26, 122, 173);
    
}



.portifolio>div {
    border: 4px dotted green;

}

.portifolio>div>img {
    width: 200px;
    height: 380px;

}


/*Formatação de texto*/


h1, h2, h3, p {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

p{
    text-indent: 40px;
    text-align: left;
    font-size: 1.2rem
}

section#quem-somos h1 {
    font-size: 3rem;
    text-align: center;
}

section#contato h2{
    text-align: center;
}

.titulo_portifolio{
    grid-area: titulo_portifolio;
    text-align: center;
}




