.portifolio-img {
    grid-area: portifolio;
    display: grid;
    border: 4px solid rgba(0, 255, 255, 0.132);
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 380px 380px 380px 380px;
    row-gap: 20px;
    column-gap: 120px;
    padding: 0 20px;
}


.titulo_portifolio {
    grid-area: titulo_portifolio;
    text-align: center;
    border: 4px solid rgba(0, 255, 255, 0.132);
    box-shadow: 10px 5px 5px rgba(0, 255, 255, 0.392);
}

.portifolio-img>div>img {
    width: 200px;
    height: 380px;
    border: 4px solid rgba(0, 255, 255, 0.132);
    box-shadow: 10px 5px 5px rgba(0, 255, 255, 0.392);

}

.portifolio-img>div>img:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 5px rgba(219, 226, 226, 0.392);
}



.videos-portifolio{
    background-color: black;
    width: 800px;
    height: 500px;
    display: flex;
    margin:30px 200px;
    overflow: hidden;
    

}

.slides video{
    width: 800px;
    height: 500px;
}

.manual-navigation, .navigation-auto{
    margin-left: 80px;

}

#radio1:checked ~ .video-first{
    margin-left: 0;
    transition: 2s;
}
#radio2:checked ~ .video-first{
    margin-left: -34%;
    transition: 2s;
}
#radio3:checked ~ .video-first{
    margin-left: -67%;
    transition: 2s;
}






